.roundedContainer {
    border: 1px solid black;
    width: 400px;
    border-radius: 5px;
}

.bigButtonText {
    font-size: 50px;
}

.spacerSmall {
    margin-top: 20px;
}

.spacerMedium {
    margin-top: 50px;
}